/* RESET BÁSICO */
body {
    background-color: #2b2b2b; /* Fondo Oscuro */
    color: white;              /* Texto Blanco */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center; /* Todo centrado */
}

/* HEADER */
header {
    background-color: #1f1f1f; /* Un gris un poco más oscuro para diferenciar */
    padding: 40px 20px;
    border-bottom: 1px solid #00d2ff;
}

.name {
    font-size: 2.5rem;
    color: #00d2ff; /* Azul Cian */
    margin-bottom: 20px;

    color: #e0ffff;
    text-shadow:
    0 0 5px #00d2ff,
    0 0 10px #00d2ff,
    0 0 20px #00d2ff,
    0 0 40px #00d2ff;

    animation: parpadeo  1.5s infinite alternate;
}

.subtitulo {
    font-size: 1.2rem;
    color: #aaaaaa;
    margin-top: 0;
}

/* FOTO */
.mifoto {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 4px solid #00d2ff;
    object-fit: cover;
    margin-bottom: 20px;

    transition: all 1s ease;
    margin-bottom: 20px;
    
}
.mifoto:hover{
    border-radius: 30%;

    box-shadow: 0 0 15px 15px rgb(0, 210,255,0.5);
 
    transform: rotate(360deg) scale(1.2);


}

/* MAIN Y SECCIONES */
main {
    max-width: 800px; /* Para que no se estire demasiado en pantallas grandes */
    margin: 0 auto;   /* Centra el bloque main */
    padding: 20px;
}

section {
    margin-bottom: 30px;
    background-color: #383838; /* Tarjetas grises */
    padding: 20px;
    border-radius: 10px;
}

h2 {
    color: #00d2ff;
    border-bottom: 1px solid #555;
    padding-bottom: 10px;
}

/* LISTAS (Quitamos los puntos feos) */
ul.lista-skills {
    list-style-type: none; 
    padding: 0;
}

ul.lista-skills li {
    background: #444;
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
}

/* FOOTER */
footer {
    padding: 20px;
    font-size: 0.9rem;
    color: #777;
}
@keyframes parpadeo
{
    from{
        
        text-shadow: 
            0 0 5px #00d2ff,
            0 0 10px #00d2ff,
            0 0 20px #00d2ff,
            0 0 40px #00d2ff;
    }to {
        text-shadow: 
            0 0 2px #00d2ff,
            0 0 5px #00d2ff,
            0 0 10px #00d2ff,
            0 0 20px #00d2ff;
    }
    
}